* {
  background-color: #D73535;
  color: #fdc4c4;
  font-family: Impact, ui-serif;
  font-weight: normal;
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleArea {
  margin-bottom: 20px;
}

.titleArea h1 {
  margin: 0;
  font-size: xxx-large;
}

.titleArea h2 {
  margin-top: 0;
}

.number {
  font-size: xx-large;
}

h2 {
  margin: 5px;
}

img {
  margin: 15px 0;
}

.fadeIn {
  opacity: 0.00;
  transition: 2s all ease-in-out;
  -moz-transition: 2s all ease-in-out;
  -webkit-transition: 2s all ease-in-out;
}

.fadeIn.active {
  opacity: 1;
}